@if (User.Identity!.IsAuthenticated)
{
    @inject StateHelper _stateHelper;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modaal@0.4.4/dist/css/modaal.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />

    @* <link href="~/css/admin.css" rel="stylesheet" /> *@
    @* <link href="~/css/site.css" rel="stylesheet" /> *@
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <h2>Admin Panel</h2>
            <ul>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Home")">
                        <span class="ml-2">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Tool" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Tool")">
                        <span class="ml-2">Tool</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Group" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Groups")">
                        <span class="ml-2">Groups</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Customer" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Customer")">
                        <span class="ml-2">Customers</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Campaign" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Campaign")">
                        <span class="ml-2">Campaigns</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Account" &&ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active" : "")" href="@Url.Action("Profile", "Account")">
                        <span class="ml-2">Profile</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Settings" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Settings")">
                        <span class="ml-2">Settings</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-danger" href="@Url.Action("Logout", "Account")">
                        <span class="ml-2">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-content">
            <header>
                <h1>@ViewData["Title"]</h1>
                <div class="dropdown">
                    <button class="dropdown-toggle">Menu</button>
                    <ul class="dropdown-menu">
                        <li><a href="#dashboard" class="active">Dashboard</a></li>
                        <li><a href="#users">Users</a></li>
                        <li><a href="#settings">Settings</a></li>
                        <li><a href="#logout">Logout</a></li>
                    </ul>
                </div>
            </header>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4 main-box">
                @if (_stateHelper.User().IsExpired)
                {
                    <div class="alert alert-danger text-center" role="alert">
                        Your plan has expired, Please <a href="@Url.Action("Index", "Settings")">upgrade</a> your account
                    </div>
                }
                <div class="mt-2">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>



    @* </div> *@
    @* </div> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js" integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/modaal@0.4.4/dist/js/modaal.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="https://unpkg.com/just-validate@4.0.0/dist/just-validate.production.min.js"></script>
    <script src="~/js/site.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
