@model Application.DTOs.GetUserDTO

@{
    ViewData["Title"] = "Profile";
}
<fieldset class="my-md">
    <legend>Personal Information</legend>
    <form id="profileForm" class="col-md-5">
        <div class="form-group">
            <input name="user_id" id="user_id" hidden value="@Model.Id" />
        </div>
        <div class="form-group my">
            <label>Name</label>
            <input name="user_name" id="user_name" class="form-control" value="@Model.Name" required />
        </div>
        <div class="form-group my">
            <label>Email</label>
            <input name="user_email" id="user_email" class="form-control" value="@Model.Email" required />
        </div>
       <div class="form-group my">
            <label>Phone</label>
            <input name="user_phone" id="user_phone" class="form-control" value="@Model.Phone" required />
        </div> 
       <div class="form-group my">
            <label>Address</label>
            <input name="user_address" id="user_address" class="form-control" value="@Model.Address" required />
        </div>
        <div class="form-group my">
            <label>City</label>
            <input name="user_city" id="user_city" class="form-control" value="@Model.City" required  />
        </div>
        <div class="form-group my">
            <label>State</label>
            <input name="user_state" id="user_state" class="form-control" value="@Model.State" required  />
        </div>
        <div class="form-group my">
            <label>Country</label>
            <input name="user_country" id="user_country" class="form-control" value="@Model.Country" required  />
        </div>
        <div class="form-group d-grid my">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</fieldset>

@section scripts {
    <script>
        $(document).ready(() => {
            const validation = new window.JustValidate('#profileForm');

            validation
                .addField('#user_name', [
                    {
                        rule: 'required',
                        errorMessage: 'Name is required',
                    }
                ])

                .onSuccess((event) => {
                    debugger
                    event.preventDefault();
                    loading("show")

                    const data = { id: $("#user_id").val(), name: $("#user_name").val(), email: $("#user_email").val(), phone: $("#user_phone").val(), address: $("#user_address").val(), city: $("#user_city").val(), state: $("#user_state").val(), country: $("#user_country").val() };
                    request('@Url.Action("Put", "Account")', 'PUT', data)
                        .then(data => {
                            loading("hide")
                            alertify.success(data.message);
                        })
                        .catch(error => console.error(error));
                });
        })
    </script>
}
